body {
    background-color: lightblue;
}

a:link {
    color: green;
}

a:visited {
    color: blue;
}

a:active {
    color: yellow;
}

h1 {
    text-align: center;
}

table {
    background-color: red;
    margin: auto;
    border-collapse: collapse;
}

td {
    text-align: center;
    padding: 5px;
    margin: 0px;
    font-size: 20px;
}

th {
    font-size: 2em;
    padding-left: 9px;
    padding-right: 9px;
    border: 1px solid black;
}

table td {
    border: 1px solid black;
}

.linkBar {
    margin: auto;
    width: 60%;
    background-color: #fa6b73;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    padding: 3px;
}

.largetext {
    font-size: 2em;
}

.titleCol {
    background-color: orange;
}

.appTable tr:nth-child(even) {
    background-color: lightgray;
}

.appTable tr:hover {
    background-color: #66d9ff;
}